Source: linux
Priority: optional
Maintainer: Linux Build <linux.build@quicinc.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Section: devel

Package: linux-headers-2.6.32-1
Section: devel
Architecture: armel
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: linux-headers, linux-headers-2.6
Description: Header files related to Linux kernel version 2.6.32
