config ZRAM
	tristate "Compressed in-memory block devices (zram)"
	depends on SWAP
	select LZO_COMPRESS
	select LZO_DECOMPRESS
	default n
	help
          Creates RAM based block devices named /dev/zram<id> (<id> = 0, 
          1, ...). Pages written to these disks are compressed and stored
          in memory itself. These disks allow very fast I/O and compression 
          provides good amounts of memory savings. Some of the usecases 
          include /tmp storage, use as swap disks, various caches under 
          /var and maybe many more :)

          Statistics for individual zram devices are exported through sysfs 
          nodes at /sys/block/zram<id>/

          Project home: http://compcache.googlecode.com/
